/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2014, 4:54:18 PM
    Author     : prawee
*/

span.fancytree-icon {
    position: relative;
}
span.fancytree-childcounter {
    color: #fff;
    background: #428BCA;
    /*  border: 1px solid gray; */
    position: absolute;
    top: -6px;
    right: -6px;
    min-width: 10px;
    height: 10px;
    line-height: 1;
    vertical-align: baseline;
    border-radius: 10px; /*50%;*/
    padding: 2px;
    text-align: center;
    font-size: 9px;
}

.ui-menu {
    width: 100px;
    font-size: 63%;
    z-index: 3; /* over ext-wide titles */
}

