/* 
* Created on : Jun 24, 2014, 5:34:28 PM
* @author Prawee Wongsa <konkeanweb@gmail.com>
*/
body{
    /*background:green;*/
}
.form-modal.modal-dialog{
    width:60%;
    background:yellow;
}
.content-modal.modal-dialog{
    width:90%;
}
.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }